{% extends "layout.html" %}

{% block header %}
    <center>
    <nav>
        <a href="{{ url_for('users.register') }}">Register</a>
        <a href="{{ url_for('users.login') }}">Login</a>
        <a href="{{ url_for('users.logout') }}">Logout</a>
        <a href="{{ url_for('blogs.blogs') }}">Blogs</a>
    </nav>
    </center>
    <div class="container">
        <!-- messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="row">
            <div class="col-md-12">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
            {{message}}
            </div>
            {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endwith %}
    </div>
{% endblock %}

<div class="content">
    {% block content %}
    {% endblock %}
</div>

{% block footer %}
<center>
<footer class="footer fixed-bottom">
    <div class="footer__content">
        <section class="right">
            <a class="footer__item" href="https://linkedin.com/in/abhijitpaul0212">|| LinkedIn |</a>
            <a class="footer__item" href="https://github.com/abhijitpaul0212">| Github |</a>
            <a class="footer__item" href="https://medium.com/@abhijit-paul">| Medium  ||</a>
        </section>
    </div>
</footer>
</center>
{% endblock %}